[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/tmp/telegram
ExecStart=/tmp/telegram/myenv/bin/python txttoimo.py
Restart=always
RestartSec=5
User=root
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
